.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  background-color: black;
}

.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #0077cc;
  font-weight: bold;
}

.nav-links a:hover {
  color: #00ccff;
}


.logo {
  width: 60px;
  height: 60px;
}
